<h1>Edit Zoo</h1>
 
<%= form_with(model: @zoo, local: true) do |form| %>
 
  <% if @zoo.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@zoo.errors.count, "error") %> prohibited
        this zoo from being saved:
      </h2>
      <ul>
        <% @zoo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back to zoo list', zoos_path %>