<h1>
<strong>Name:</strong>
<%= @zoo.name %>
</h1>

<p>
<strong>Description:</strong>
<%= @zoo.description %>
</p>

<p>
<strong>Address:</strong>
<%= @zoo.address %>
</p>

<%= link_to 'Edit', edit_zoo_path(zoo) %>
<%= link_to 'Back to zoo list', zoos_path %>