<div class="section">
  <%= link_to 'Back to Zoo Directory', zoos_path %>
  <h2><%= @zoo.name %></h2>
  <div class="divider"></div>
</div>
 
<div class="section">
  <h3>Details</h3>
  <p><%= @zoo.address %></p>
  <p><%= @zoo.description %></p>
</div>

<div class="section">
  <h3>Animals</h3>
  <ul class="collection">
    <% if @zoo.animals.length > 0 %>
      <%= render @zoo.animals %>
    <% else %>
      <li class="collection-item">There are no animals recorded in this listing yet.</li>
    <% end %>
  </ul>
</div>
