<%= form_with model: @animal, url: "/admin/animals/#{@animal.id}", local: true do |form| %>
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">account_circle</i>
      <%= form.text_field :name, 'data-length': 120 %>
      <%= form.label :name %>
    </div>

    <div class="input-field col s12">
      <i class="material-icons prefix">description</i>
      <%= form.text_area :description, class: "materialize-textarea", 'data-length': 512 %>
      <%= form.label :description %>
    </div>

    <div class="file-field input-field col s12">
      <div class="btn">
        <i class="material-icons">add_a_photo</i>
        <%= form.file_field :cover_photo %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </div>

  <div class="section">
    <h3>Zoos</h3>
    <ul class="collection">
      <% @zoos.each do |zoo| %>
        <li class="zoo-list__item collection-item">
          <div>
            <label>
            <%= form.label "zoo_id_#{zoo.id}" do %>
              <%= form.radio_button :zoo_id, zoo.id, class: "with-gap" %>
              <span><b><%= zoo.name %> <%= link_to zoo_path(zoo), target: "_blank" do %><i class="material-icons waves-effect tiny">open_in_new</i><% end %></b></span>
            </label>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="input-field col s12">
    <%= form.submit class: "waves-effect waves-light btn white-text" %>
  </div>

  <div class="input-field col s12">
    <%= link_to admin_animal_path(@animal),
      class: "waves-effect waves-light btn white-text red",
      method: :delete,
      data: { confirm: 'Are you sure?' } do %>
      <i class="material-icons left">delete</i> Delete
    <% end %>
  </div>
<% end %>