<%= form_with model: @zoo, url: "/admin/zoos/#{@zoo.id}", local: true do |form| %>
 
  <% if @zoo.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@zoo.errors.count, "error") %> prohibited
        this zoo from being saved:
      </h2>
      <ul>
        <% @zoo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <% if @zoo.cover_photo.attached? %>
      <div class="col s12 m6 offset-m3">
        <img class="materialboxed" src="<%= url_for(@zoo.cover_photo) %>" width="100%" />
      </div>
    <% end %>

  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">account_circle</i>
      <%= form.text_field :name, placeholder: "Los Angeles Zoo", 'data-length': 120 %>
      <%= form.label :name %>
    </div>

    <div class="input-field col s6">
      <i class="material-icons prefix">map</i>
      <%= form.text_area :address, class: "materialize-textarea", 'data-length': 120 %>
      <%= form.label :address %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">description</i>
      <%= form.text_area :description, class: "materialize-textarea", 'data-length': 512 %>
      <%= form.label :description %>
    </div>

    <div class="file-field input-field col s12">
      <div class="btn">
        <i class="material-icons">add_a_photo</i>
        <%= form.file_field :cover_photo %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

    <div class="input-field col s12">
      <%= form.submit class: "waves-effect waves-light btn white-text" %>
    </div>
  </div>
<% end %>