<h1>Zoo Directory</h1>

<%= link_to 'New zoo', new_admin_zoo_path %>

<div class="zoo-list">
  <% @zoos.each do |zoo| %>
    <div class="zoo-list__item">
      <h2><%= zoo.name %></h2>
      <p><%= zoo.description %></p>
      <p><%= link_to 'Edit', edit_admin_zoo_path(zoo) %></td>
      <p><%= link_to 'Delete', admin_zoo_path(zoo),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></p>
    </div>
  <% end %>
</div>