<h1>
<strong>Name:</strong>
<%= @zoo.name %>
</h1>

<p>
<strong>Description:</strong>
<%= @zoo.description %>
</p>

<p>
<strong>Address:</strong>
<%= @zoo.address %>
</p>

<h2>Animals</h2>
<% if @zoo.animals.length > 0 %>
  <%= render @zoo.animals %>
<% else %>
  <p>There are no animals recorded in this listing yet.</p>
<% end %>

<%= link_to 'Edit', edit_zoo_path(@zoo) %>
<%= link_to 'Back to zoo list', admin_zoos_path %>