<div class="section">
  <h2><%= @animal.name %></h2>
  <div class="divider"></div>
</div>

<div class="row">
  <% if @animal.cover_photo.attached? %>
    <div class="col s12">
      <%= image_tag (@animal.cover_photo.variant(resize_to_fill: [1200, 630, { gravity: 'Center' }])), class: "materialboxed", width: "100%" %>

    </div>
  <% end %>
</div>
 
<div class="section">
  <div class="row">
    <div class="col s12">
      <h3>Details</h3>
      <div><%= simple_format(@animal.description) %></div>
    </div>
  </div>
</div>

<div class="section">
  <div class="row">
    <div class="col s12">
      <h3>Zoo</h3>
      <ul class="collection">
        <li class="zoo-list__item collection-item avatar">
          <% if @animal.zoo.cover_photo.attached? %>
            <img src="<%= url_for(@animal.zoo.cover_photo.variant(resize_to_fill: [42, 42, { gravity: 'Center' }])) %>" alt="" class="circle">
          <% else %>
            <i class="material-icons circle">map</i>
          <% end %>
          <div class="content">
            <span><b><%= link_to @animal.zoo.name, zoo_path(@animal.zoo) %></b></span>
            <p><%= truncate(@animal.zoo.description, length: 120) %></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
